main{
    background-color: rgb(80, 63, 63);
    width: 100vw;
    height: 100vh;
  
}

*{
    margin: 0;
    padding: 0;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}