.displayUser{
width: max-content;
height: max-content;
background-color: aqua;
padding: 2rem;

margin: auto;
margin-top: 0.5rem;
}

img{
    width: 60px;
    height: 60px;
}

.li {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 15rem;
    height: auto;
}