.header{
height: 20vh;
background-color: rgb(51, 51, 53);
border-bottom: 1px solid black;
width: 100vw;
position: absolute;
top:0;
}

.header p {
    font-family: monospace;
    font-size: 3em;
    color: aquamarine;
    padding: 1em;
}