  .button {
    border-radius: 5px;
    background-color: rgb(56, 40, 40);
    color: antiquewhite;
    padding: 0.5rem;
    cursor: pointer;
    width: 40%;
}

.button:hover{
    background-color: rgb(27, 20, 20);
    border-color: rgb(15, 14, 14);
    
}

