  .button {
    border-radius: 5px;
    background-color: rgb(56, 40, 40);
    color: antiquewhite;
    padding: 0.5rem;
    cursor: pointer;
    width: 40%;
}
.buttonNav{
width: 7rem;
height: 3.5rem;
border-color: black;
border-radius: 10px;
font-size: 1.1em;

}
.button:hover{
    background-color: rgb(27, 20, 20);
    border-color: rgb(15, 14, 14);
    
}


.button:disabled{
  background-color: aqua;
}

.button:disabled:hover{
  background-color: aqua;
}